
.AP_Scores {

  border: 15px solid;
  border-style: solid;
  border-color: black;
  width: 1500;
  padding: 50px;
  margin-top: : 10px;
  align-items: center;
}

#head {
  background-color: #90ee90;
  font-weight: bold;
 }

.links {
color: #0000EE;
}
